.hide {
    display: none;
}

.carVector{
    background-image: url("media/m1.png");
    position: absolute;
    /*background: rgb(8, 1, 8);*/
    height:70px;
    width:50px;
    bottom:120px;
    left: 50px;
}

.practiceScreen{
    background-image: url("media/racetrack.png");
    /*background:red;*/
    width:1100px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;

    animation: track 25s linear infinite;
    animation-delay: 2s;
}


@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10000px;
    }
  }