.hide {
    display: none;
}

.carVector{
    
    position: absolute;
    background: red;
    height:70px;
    width:50px;
    bottom:120px;
    left: 50px;
}



.animateTrack{
    background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/racetrack.png");
    /*background:red;*/
    width:1100px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;
    overflow: hidden;
    animation: track 25s linear infinite;
    animation-delay: 1s;
}


@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10000px;
    }
  }