#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}
Next we’ll style our character div. 
#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px; //game height - character height (200 - 50)
}
Create a keyframe animation called jump. This animation will make the top position slide up 50 pixels and then slide back down.
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
Next, we’ll create a new class called animate, which applies the jump animation.
.animate{
    animation: jump 300ms linear;
}
##car descrip
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#gameSetUp {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.fa-truck {
    font-size: 50px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.fa-user-secret {
    font-size: 80px;
    color: brown;
}

.track {
    height: 50px;
    background-image: url('../images/track.png');
}
