
*{
    margin: 0;
    padding: 0;
}

.hide {
  display: none;
}

#button{
  display: block;
  width: 100%;
  border: none;
  background-color: #000000;
  opacity: 0.6;
  padding: 14px 28px;
  font-size:1.5em;
  cursor: pointer;
  color: white;
  font-family: fantasy;
  text-align: center;
}


body {
  overflow-x: hidden; /*Prevents horizontal scrolling(applicable to the default web browser zoom level)*/
}
#left{
  position: relative;
  top: 500px;
  left:50px;
  width:300px;
  height: 100vh;
}
#scoreBoard{

  position: relative;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/scorebaord background1.png");
  height:150px;
  width:80px;
  right:15px;
  top:50px;
}
#scoreboardHeading{
    
position: relative;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/scorebaordheading.png");
  height:100px; 
  width:80px;
  right:15px;
  top:50px;
}
#rankheading{
  position: relative;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/rank heading.png");
  height:75px; 
  width:200px;
  right:15px;
  top:50px;
}
#gameScreen{
  position: relative;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/background1.png");  /*Temporary game bg*/
  background-size: cover;
  display:flex;/*
  opacity: 0;
  pointer-events: none;*/

}

#Track{
    background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/racetrack.png");

    width:700px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;
    background-size:contain;
    overflow: hidden;
    animation: track 21s linear infinite;
}

@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10050px;
    }
}

.carVector{
    background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/raceGreen.png");
    position: absolute;
    height:150px;
    width:130px;
    bottom:120px;
    background-size:contain;
}
