
*{
    margin: 0;
    padding: 0;
}

body {
  overflow-x: hidden; /*prevents horizontal scrolling(applicable to the default web browser zoom level)*/
}
#scoreBoard{
  position: absolute;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/scorebaord background1.png");
  height:150px;
  width:200px;
}

#gameScreen{
  position: relative;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/background1.png");  /*temporary game bg*/
  background-size: cover;
  display:flex;

}

#Track{
    background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/racetrack.png");
    width:650px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;
    background-size:contain;
    overflow: hidden;
    animation: track 21s linear infinite;
}

@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10050px;
    }
}

.carVector{
    background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/raceGreen.png");
    position: absolute;
    height:150px;
    width:130px;
    bottom:120px;
    background-size:contain;
}