
body{
  overflow-x: hidden; /*prevents horizontal scrolling(applicable to the default web browser zoom level)*/
  overflow-y: hidden; 
}

#container{
  position: relative;
}

.practiceScreen{
  position: relative;
  background-color:black;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/turbobg.png");  /*temporary game bg*/
  background-size: 100%;
}


.hide {
    display: none;
}


.carVector{
    background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/raceGreen.png");
    position: absolute;
    height:200px;
    width:150px;
    bottom:120px;
    background-size:100%;
}

.fuelDiv{
  background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/bluePoint.png");
  position: absolute;
  height:100px;
  width:80px;
  bottom:120px;
  background-size:contain;
}


.police{

  position: absolute;
  height:150px;
  width:130px;
  bottom:120px;
  background-size:contain;
}

.startNav{
  position:absolute;
  background-color: pink;
  left:50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:white;
  z-index;
  text-align: center;
  border: 1px solid black;
  padding: 15px;
  margin:auto;
  widows: 50%;
  cursor:pointer;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  letter-spacing: 5;
  font-size: 20px;
  word-spacing:3;
  line-height: 30px;
  box-shadow: 0 5px 5px white;
}

.scoreBoard
{
  width:235px;
  height:24vh;
  position: absolute;
  background-size:contain;
  left:40px;
  background-color: black;
  top:15px;
  color:white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  box-shadow:0 5px 5px #777;
}


.animateTrack{

    background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/racetrack.png");
    width:800px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;
    background-size:contain;
    overflow: hidden;
    animation: track 21s linear infinite;


}

@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10050px;
    }
  }

.trackContainer{
  display:flex;
  flex-direction: row;
  height: 100vh;
  
}

