*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden; /*prevents horizontal scrolling(applicable to the default web browser zoom level)*/
  overflow-y: hidden; 
  background-color: black;
}

#container{
  position: relative;
}

.practiceScreen{
  position: relative;
  background-color:black;
  background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/turbobg.png");  /*temporary game bg*/
  background-size: 100%;
}


.hide {
    display: none;
}


.carVector{
    background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/car1.png");
    position: absolute;
    height:200px;
    width:130px;
    bottom:120px;
    background-size:contain;
}

.fuelDiv{
  background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/bluePoint.png");
  position: absolute;
  height:100px;
  width:80px;
  background-size:100%;
}

.coneDiv{
  background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/cone.png");
  position: absolute;
  height:110px;
  width:100px;
  background-size:100%;
}


.startNav, .end{
  position: relative;
  margin: auto;
  width: 50%;
  border: 3px;
  background-color: black;
  color:white;
  z-index: 1;
  text-align: center;
  padding: 15px;
  cursor:pointer;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  letter-spacing: 5;
  font-size: 20px;
  word-spacing:3;
  box-shadow: 0 5px 5px white;
  animation: glow 3s ease-in-out infinite alternate;

}


.scoreBoard
{
  position: absolute;
  background-size:contain;
  left:40px;
  top:40px;
  line-height: 250px;
  font-size: 20px;
  height:50vh;
  width:21%;
  background-image:url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/scoreBoard.png");
  background-repeat:no-repeat ;
  text-align: center;
  color:white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow{
  from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d1abbe, 0 0 30px #a38896, 0 0 40px #dfb6ca, 0 0 50px #bb6c93, 0 0 60px #9e195c;
    }
    
    to {
      text-shadow: 0 0 9px #fff, 0 0 13px #ff4da6, 0 0 23px #ff4da6, 0 0 30px #ff4da6, 0 0 43px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
    }
}


.animateTrack{

    background-image: url("https://f28wp-dubai-weblings.github.io/Game/client/media/icons/racetrack.png");
    width:800px;
    height:100vh;
    display:block;
    margin:auto;
    align-content: center;
    position: relative;
    background-size:contain;
    overflow: hidden;
    animation: track 21s linear infinite;


}

@keyframes track {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 0px 10050px;
    }
  }

.trackContainer{
  display:flex;
  flex-direction: row;
  height: 100vh;
  
}

