body{
  margin:0;
  padding:0;
  background-color: black;
  display:flex;
  background-image:url("../media/icons/turbobg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  width: 0em;

}


#block{
  margin: auto;
  width: 60%;
  height:90vh;
  padding:0;
}

#box{
  padding:100px;
  margin:0px;
}

#about{
  text-align:center;
  color:white;
  margin:10;
  padding: 70px 0;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}


h2{
  animation: glow 1s ease-in-out infinite alternate;
  border: 0;
  text-align:center;
  color: white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

#head{
  font-size: 70px;
  border: 0;
  text-align:center;
  color: white;
  font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
  font-weight: 500;
  font-stretch: ultra-expanded;

}
.choice {
  font-size: 20px;
  padding: 5px 0;
  border: 0;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
  
}

@keyframes glow{
  from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #d1abbe, 0 0 30px #a38896, 0 0 40px #dfb6ca, 0 0 50px #bb6c93, 0 0 60px #9e195c;
    }
    
    to {
      text-shadow: 0 0 9px #fff, 0 0 13px #ff4da6, 0 0 23px #ff4da6, 0 0 30px #ff4da6, 0 0 43px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6;
    }
}

p {

  text-align:center;
  color: white;
}